.app-background {
  background-image: url("sky_tunes_background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

#app {
  height: 100vh;
  overflow-y: auto;
}

/* *:not([class*="fa-"]) {
  font-family: 'Roboto', sans-serif !important;
} */
