.navbar {
  opacity: .8;
  background-color: #333333;
  height: 3em;
  color: #FFFFFF;
  font-size: 1em;
  position: relative;
}

.nav-link {
  color: #FFFFFF;
  display: inline-block;
  padding: 1%;
}

.nav-link:hover {
  color: #F8D6D2;
  text-shadow: 2px 1px 1px #a3a3a3;

}

.nav-link:visited {
  color: #FFFFFF;

}

.nav-tracks.nav-link {
  position: absolute;
  right: 1%;
}
