.index-tile {
  margin-left: 1.5em;
  margin-right: 1.5em;
}

@media only screen and (max-width: 40em) {
  .index-tile .hide-mobile {
    display: none;
  }
  .index-tile span span {
    font-size: 12px;
  }
  .index-labels {
    display: none;
  }
  .edit-delete {
    font-size: 10px;
    width: 4em;
    padding: 1em;
  }
  .index-tile .wrapper span{
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
  }
}

.index-tile .wrapper {
  background: rgba(0, 0, 0, 0.15);
  box-shadow: 1px 2px 3px rgba(72, 72, 72, 0.15);
  margin-top: .75em;
  padding-left: 0em;
  color: #171717;

}

.index-tile .wrapper:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.25);
  box-shadow: 1px 1px 1px rgba(72, 72, 72, 0.88);
}

.index-tile .wrapper img{
  width: 4em;
  height: auto;
  padding-left: 0em;
}

.index-tile .wrapper span{
  padding-top: 0.8rem;
}

.index-tile .wrapper i{
  padding-top: 1.1rem;
}

.index-labels {
  margin-left: 1.5em;
  margin-right: 1.5em;
}

.index-labels .wrapper {
  padding-left: 0em;
  color: #c2c3c5;
  letter-spacing: 1px;
  margin-top: .75em;
}

.index-labels .wrapper .img-spot {
  width: 4em;
  height: auto;
  padding-left: 0em;
}

.hidden {
  display: none;
}

.edit-delete {
  margin-top: 1em;
  width: 5em;
  background-color: #333333;
  opacity: .8;
}

.edit-delete:hover {
  background-color: #49adc1;
}

.edit-form {
  padding-top: 1em;
}

.edit-x {
  padding-left: 2em;
  font-size: 22px;
}

.yo {
  padding-left: 2%;
}
